<div id="team_panel" class="msg-panel" style="display:none;">
  <div id="team_box" class="msg-list-panel">
    <div class="msg-oper">
      <span id="btn_add_team" class="btn btn-default">添加</span>
      <span id="btn_del_team" class="btn btn-default">删除</span>
    </div>
    <ul id="team_list_panel" ></ul>
  </div>
  <div id="team_content_panel" class="msg-content-panel" style="padding-bottom:80px;">
    <div style="height:100%;overflow:auto;">
      <div class="team-info">
        <div class="msg-title"><label>姓名</label><input id="team_title" placeholder="输入姓名"></div>
        <div class="msg-title" style="position: relative;margin: 0;top: 0;left: 0;">
          <label>头像</label>
          <input type="hidden" id="team_avatar">
          <span id="btn_upload_team" class="btn btn-primary">上传头像</span>
        </div>
        <div id="avatar_team" class="avatar-team" style="display:block;height:160px;margin-bottom:10px;"></div>
      </div>
      <textarea id="team_editor" placeholder="输入简介" style="height:300px;width:100%;" ></textarea>
    </div>
    <div class="btn-wrapper" style="font-size:14px;position:absolute;bottom:20px;left:0;">
      <span id="btn_save_team" class="btn btn-primary">保存</span>
    </div>  
  </div>
</div>