<div id="tree_panel" style="display:none;">
  <div class="sidebar" style="min-height:500px;">
    <ul class="res-menu" >
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-info active" data-id="1">国防历史</button>
            <button type="button" class="btn btn-primary setting" data-id="1"><span class="glyphicon glyphicon-cog"></span></button>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-info" data-id="2">国防法规</button>
            <button type="button" class="btn btn-primary setting" data-id="2"><span class="glyphicon glyphicon-cog"></span></button>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-info" data-id="3">国防力量</button>
            <button type="button" class="btn btn-primary setting" data-id="5"><span class="glyphicon glyphicon-cog"></span></button>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-info" data-id="4">国防战略</button>
            <button type="button" class="btn btn-primary setting" data-id="4"><span class="glyphicon glyphicon-cog"></span></button>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-info" data-id="5">国防建设</button>
            <button type="button" class="btn btn-primary setting" data-id="5"><span class="glyphicon glyphicon-cog"></span></button>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-info" data-id="6">世界军事</button>
            <button type="button" class="btn btn-primary setting" data-id="6"><span class="glyphicon glyphicon-cog"></span></button>
          </div>
        </li>
    </ul>
    <a href="admin/index/module" class="btn btn-primary" style="width:80%;margin-top:80px;" >关键字设定</a>
  </div>
  <div id="list_box" class="main">
    <div class="resource-opr" style="display:none;">
      <a href="javascript:void(0);" class="add">增加</a>
    </div>
    <div id="top_list" style="border-bottom: 1px dashed #cccccc;"></div>
    <div id="resource_list"></div>
    <div id="pagebar"></div>
  </div>
</div>